In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from sklearn.metrics import mean_squared_log_error

In [3]:
df = pd.read_csv("train.csv")

In [4]:
df

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005,6,Automatic,4x4,4,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3.0,192000,6,Tiptronic,4x4,4,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000,4,Variator,Front,4,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966,4,Automatic,4x4,4,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901,4,Automatic,Front,4,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,-,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0,300000,4,Manual,Rear,2,Left wheel,Silver,5
19233,45778856,15681,831,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600,4,Tiptronic,Front,4,Left wheel,Red,8
19234,45804997,26108,836,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2.0,116365,4,Automatic,Front,4,Left wheel,Grey,4
19235,45793526,5331,1288,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,2.0,51258,4,Automatic,Front,4,Left wheel,Black,4
19236,45813273,470,753,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923,4,Automatic,Front,4,Left wheel,White,12

In [5]:
df.drop(['ID','Model','Category'],axis = 1,inplace = True)

In [6]:
df.replace(to_replace='-',value=np.nan,inplace=True)

In [7]:
df.isnull().sum()

Price                  0
Levy                5819
Manufacturer           0
Prod. year             0
Leather interior       0
Fuel type              0
Engine volume          0
Mileage                0
Cylinders              0
Gear box type          0
Drive wheels           0
Doors                  0
Wheel                  0
Color                  0
Airbags                0
dtype: int64

In [8]:
from sklearn.impute import SimpleImputer

In [9]:
imputer = SimpleImputer().fit(df[['Levy']])
data_array = imputer.transform(df[['Levy']])

In [10]:
data_array

array([[1399.        ],
       [1018.        ],
       [ 906.83812789],
       ...,
       [ 836.        ],
       [1288.        ],
       [ 753.        ]])

In [11]:
df.drop(['Levy'],axis = 1, inplace = True)

In [12]:
df['Levy'] = data_array

In [13]:
df

,Price,Manufacturer,Prod. year,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags,Levy
0,13328,LEXUS,2010,Yes,Hybrid,3.5,186005,6,Automatic,4x4,4,Left wheel,Silver,12,1399.000000
1,16621,CHEVROLET,2011,No,Petrol,3.0,192000,6,Tiptronic,4x4,4,Left wheel,Black,8,1018.000000
2,8467,HONDA,2006,No,Petrol,1.3,200000,4,Variator,Front,4,Right-hand drive,Black,2,906.838128
3,3607,FORD,2011,Yes,Hybrid,2.5,168966,4,Automatic,4x4,4,Left wheel,White,0,862.000000
4,11726,HONDA,2014,Yes,Petrol,1.3,91901,4,Automatic,Front,4,Left wheel,Silver,4,446.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,8467,MERCEDES-BENZ,1999,Yes,CNG,2.0,300000,4,Manual,Rear,2,Left wheel,Silver,5,906.838128
19233,15681,HYUNDAI,2011,Yes,Petrol,2.4,161600,4,Tiptronic,Front,4,Left wheel,Red,8,831.000000
19234,26108,HYUNDAI,2010,Yes,Diesel,2.0,116365,4,Automatic,Front,4,Left wheel,Grey,4,836.000000
19235,5331,CHEVROLET,2007,Yes,Diesel,2.0,51258,4,Automatic,Front,4,Left wheel,Black,4,1288.000000
19236,470,HYUNDAI,2012,Yes,Hybrid,2.4,186923,4,Automatic,Front,4,Left wheel,White,12,753.000000

In [14]:
df.isnull().sum()

Price               0
Manufacturer        0
Prod. year          0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
Levy                0
dtype: int64

In [15]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder().fit(df[['Manufacturer','Leather interior','Fuel type','Gear box type','Drive wheels','Wheel','Color']])
onehot_data = enc.transform(df[['Manufacturer','Leather interior','Fuel type','Gear box type','Drive wheels','Wheel','Color']])

In [16]:
onehot_data = pd.DataFrame(onehot_data.todense())

In [17]:
data = pd.concat([df,onehot_data],axis = 1)

In [18]:
data

,Price,Manufacturer,Prod. year,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,...,89,90,91,92,93,94,95,96,97,98
0,13328,LEXUS,2010,Yes,Hybrid,3.5,186005,6,Automatic,4x4,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,16621,CHEVROLET,2011,No,Petrol,3.0,192000,6,Tiptronic,4x4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,8467,HONDA,2006,No,Petrol,1.3,200000,4,Variator,Front,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3607,FORD,2011,Yes,Hybrid,2.5,168966,4,Automatic,4x4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,11726,HONDA,2014,Yes,Petrol,1.3,91901,4,Automatic,Front,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,8467,MERCEDES-BENZ,1999,Yes,CNG,2.0,300000,4,Manual,Rear,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
19233,15681,HYUNDAI,2011,Yes,Petrol,2.4,161600,4,Tiptronic,Front,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19234,26108,HYUNDAI,2010,Yes,Diesel,2.0,116365,4,Automatic,Front,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19235,5331,CHEVROLET,2007,Yes,Diesel,2.0,51258,4,Automatic,Front,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19236,470,HYUNDAI,2012,Yes,Hybrid,2.4,186923,4,Automatic,Front,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [19]:
data.drop(['Manufacturer',
           'Leather interior','Fuel type','Gear box type','Drive wheels','Wheel','Color','Cylinders'],axis = 1, inplace = True)

In [20]:
data['Doors'].unique()

array(['4', '2', '>5'], dtype=object)

In [21]:
data['Doors'].replace(to_replace='>5',value=5,inplace=True)

In [22]:
data

,Price,Prod. year,Engine volume,Mileage,Doors,Airbags,Levy,0,1,2,...,89,90,91,92,93,94,95,96,97,98
0,13328,2010,3.5,186005,4,12,1399.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,16621,2011,3.0,192000,4,8,1018.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,8467,2006,1.3,200000,4,2,906.838128,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3607,2011,2.5,168966,4,0,862.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,11726,2014,1.3,91901,4,4,446.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,8467,1999,2.0,300000,2,5,906.838128,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
19233,15681,2011,2.4,161600,4,8,831.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19234,26108,2010,2.0,116365,4,4,836.000000,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19235,5331,2007,2.0,51258,4,4,1288.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19236,470,2012,2.4,186923,4,12,753.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [23]:
X = data.drop(['Price'],axis =1)
y = data[['Price']]

In [24]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X)
scal_data = scaler.transform(X)

In [25]:
X_columns = data.columns
len(X_columns)

106

In [26]:
dem = pd.DataFrame(data=scal_data,columns=X_columns[1:])

In [27]:
from sklearn.decomposition import PCA

In [28]:
pca = PCA(n_components=60)
final = pca.fit(dem)
final_data = final.transform(dem)

In [29]:
#final_data.shape

In [30]:
TEST_SIZE = 0.2
RAND_STATE = 10

In [31]:
from sklearn.model_selection import train_test_split #split
from sklearn.metrics import accuracy_score #metrics

In [32]:
X_train, X_test, y_train, y_test = train_test_split(final_data, y, test_size = TEST_SIZE, random_state=RAND_STATE)

In [33]:
from sklearn.ensemble import RandomForestRegressor
#from sklearn.datasets import make_regression
#X, y = make_regression(n_features=4, n_informative=2,random_state=10, shuffle=False)
regr = RandomForestRegressor(max_depth=15, random_state=0)
regr.fit(X_train, y_train)

<ipython-input-33-20054261719f>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=15, random_state=0)

In [34]:
y_pred = regr.predict(X_test)

In [35]:
y_pred

array([12219.37764956,  5884.07457145, 19030.43539172, ...,
       21318.10222476, 12279.46951738, 11098.27891573])

In [36]:
#y_test = np.array(y_test)

In [37]:
y_test = abs(y_test)

In [38]:
regr.score(X_train,y_train)

0.8239570754321948

In [39]:
y_pred = regr.predict(X_test)
y_pred = abs(y_pred)
score = np.sqrt(mean_squared_log_error(y_test,y_pred))
score

1.2602547092008893

In [40]:
test_data = pd.read_csv("test.csv")

In [41]:
test_data

,ID,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags,Price
0,44020629,-,VOLKSWAGEN,Golf,2012,Hatchback,No,Diesel,2.0,0,4,Manual,Front,2,Left wheel,Grey,10,NaN
1,45784798,-,HYUNDAI,Sonata,2012,Sedan,Yes,Petrol,2.4,26000,4,Tiptronic,Front,4,Left wheel,Grey,10,NaN
2,45800257,-,NISSAN,Tiida,2005,Sedan,No,Petrol,1.5,168000,4,Automatic,Front,4,Right-hand drive,Sky blue,8,NaN
3,45797981,975,VOLVO,XC90,2012,Jeep,Yes,Petrol,3.2,143000,6,Automatic,4x4,4,Left wheel,Blue,12,NaN
4,45814303,-,OPEL,Astra,1993,Hatchback,No,Petrol,1.6,200000,4,Manual,Front,4,Left wheel,Black,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8240,44824410,1357,FIAT,Stilo,2004,Universal,No,Petrol,1.6,164000,4,Manual,Front,4,Left wheel,Blue,6,NaN
8241,45682346,-,BMW,528 F10,2012,Sedan,Yes,Petrol,2.8,156000,4,Tiptronic,Front,4,Left wheel,Black,6,NaN
8242,45649860,1646,LEXUS,GX 460,2015,Jeep,Yes,Petrol,4.6,102907,8,Automatic,4x4,4,Left wheel,Black,0,NaN
8243,45809706,784,TOYOTA,Aqua,2017,Hatchback,Yes,Petrol,1.5,3000,4,Automatic,Front,4,Left wheel,Green,4,NaN
8244,45813163,448,HONDA,Insight,2012,Hatchback,Yes,Hybrid,1.3,321269,4,Automatic,Front,4,Left wheel,Red,12,NaN

In [42]:
test_data.drop(['ID','Model','Category'],axis = 1,inplace = True)

In [43]:
test_data.replace(to_replace='-',value=np.nan,inplace=True)

In [44]:
test_data.isnull().sum()

Levy                2454
Manufacturer           0
Prod. year             0
Leather interior       0
Fuel type              0
Engine volume          0
Mileage                0
Cylinders              0
Gear box type          0
Drive wheels           0
Doors                  0
Wheel                  0
Color                  0
Airbags                0
Price               8245
dtype: int64

In [45]:
data_array = imputer.transform(test_data[['Levy']])

In [46]:
test_data.drop(['Levy'],axis = 1, inplace = True)

In [47]:
test_data['Levy'] = data_array

In [48]:
test_data

,Manufacturer,Prod. year,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags,Price,Levy
0,VOLKSWAGEN,2012,No,Diesel,2.0,0,4,Manual,Front,2,Left wheel,Grey,10,NaN,906.838128
1,HYUNDAI,2012,Yes,Petrol,2.4,26000,4,Tiptronic,Front,4,Left wheel,Grey,10,NaN,906.838128
2,NISSAN,2005,No,Petrol,1.5,168000,4,Automatic,Front,4,Right-hand drive,Sky blue,8,NaN,906.838128
3,VOLVO,2012,Yes,Petrol,3.2,143000,6,Automatic,4x4,4,Left wheel,Blue,12,NaN,975.000000
4,OPEL,1993,No,Petrol,1.6,200000,4,Manual,Front,4,Left wheel,Black,0,NaN,906.838128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8240,FIAT,2004,No,Petrol,1.6,164000,4,Manual,Front,4,Left wheel,Blue,6,NaN,1357.000000
8241,BMW,2012,Yes,Petrol,2.8,156000,4,Tiptronic,Front,4,Left wheel,Black,6,NaN,906.838128
8242,LEXUS,2015,Yes,Petrol,4.6,102907,8,Automatic,4x4,4,Left wheel,Black,0,NaN,1646.000000
8243,TOYOTA,2017,Yes,Petrol,1.5,3000,4,Automatic,Front,4,Left wheel,Green,4,NaN,784.000000
8244,HONDA,2012,Yes,Hybrid,1.3,321269,4,Automatic,Front,4,Left wheel,Red,12,NaN,448.000000

In [49]:
test_data['Engine volume'].unique()

array([ 2. ,  2.4,  1.5,  3.2,  1.6,  4.6,  3.5,  1.8,  2.5,  1.7,  2.2,
        2.3,  4. ,  1.3,  3. ,  1.4,  3.3,  2.9,  4.8,  3.6,  2.7,  1. ,
        0.7,  5.5,  4.4,  4.7,  5. ,  1.2,  2.8,  3.8,  2.6,  5.3,  3.7,
        5.7,  6.6,  0.2,  6.4,  5.6,  1.9,  3.4,  6.7,  0.4,  4.2,  2.1,
        6.2,  0.8,  0. ,  6. ,  4.3,  1.1,  3.1,  0.6,  4.5,  6.3,  6.1,
        0.5, 10.8,  5.4,  0.3,  5.2,  3.9])

In [50]:
test_data['Manufacturer'] = test_data['Manufacturer'].replace(['FOTON', 'MG', 'TATA'],test_data['Manufacturer'].max())

In [51]:
test_data['Manufacturer'].unique()

array(['VOLKSWAGEN', 'HYUNDAI', 'NISSAN', 'VOLVO', 'OPEL', 'BMW', 'LEXUS',
       'MERCEDES-BENZ', 'DAEWOO', 'TOYOTA', 'FORD', 'HONDA', 'MITSUBISHI',
       'SSANGYONG', 'FIAT', 'KIA', 'CHEVROLET', 'SUBARU', 'LAND ROVER',
       'JEEP', 'AUDI', 'DAIHATSU', 'MAZDA', 'MINI', 'GMC', 'BUICK', 'GAZ',
       'VAZ', 'RENAULT', 'DODGE', 'INFINITI', 'ALFA ROMEO', 'SKODA',
       'ACURA', 'SUZUKI', 'LINCOLN', 'სხვა', 'CHRYSLER', 'PEUGEOT',
       'SAAB', 'ISUZU', 'ZAZ', 'CITROEN', 'TESLA', 'MASERATI', 'JAGUAR',
       'MERCURY', 'PORSCHE', 'ASTON MARTIN', 'SATURN', 'CADILLAC',
       'FERRARI', 'SCION', 'UAZ', 'GREATWALL', 'HUMMER', 'ROVER',
       'MOSKVICH', 'BENTLEY'], dtype=object)

In [52]:
onehot_test_data = enc.transform(test_data[['Manufacturer','Leather interior','Fuel type','Gear box type','Drive wheels','Wheel','Color']])

In [53]:
onehot_test_data = pd.DataFrame(onehot_test_data.todense())

In [54]:
test_data1 = pd.concat([test_data,onehot_test_data],axis = 1)

In [55]:
test_data1.drop(['Manufacturer','Leather interior','Fuel type','Gear box type','Drive wheels','Wheel','Color','Cylinders','Price'],axis = 1, inplace = True)

In [56]:
test_data1

,Prod. year,Engine volume,Mileage,Doors,Airbags,Levy,0,1,2,3,...,89,90,91,92,93,94,95,96,97,98
0,2012,2.0,0,2,10,906.838128,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2012,2.4,26000,4,10,906.838128,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2005,1.5,168000,4,8,906.838128,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,2012,3.2,143000,4,12,975.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1993,1.6,200000,4,0,906.838128,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8240,2004,1.6,164000,4,6,1357.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8241,2012,2.8,156000,4,6,906.838128,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8242,2015,4.6,102907,4,0,1646.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8243,2017,1.5,3000,4,4,784.000000,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8244,2012,1.3,321269,4,12,448.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [57]:
test_data1.isnull().sum()

Prod. year       0
Engine volume    0
Mileage          0
Doors            0
Airbags          0
                ..
94               0
95               0
96               0
97               0
98               0
Length: 105, dtype: int64

In [58]:
test_data1['Doors'].replace(to_replace='>5',value=5,inplace=True)

In [59]:
scal_test_data = scaler.transform(test_data1)

In [60]:
X_test_columns = test_data1.columns
len(X_test_columns)

105

In [61]:
dem1 = pd.DataFrame(data=scal_test_data,columns=X_test_columns)

In [62]:
test_final_data = final.transform(dem1)

In [63]:
test_result = regr.predict(test_final_data)

In [64]:
test_result= abs(test_result)
pred2 = pd.DataFrame(test_result)
#sub_df = pd.read_csv('/content/sample_submission_O1oDc4H.csv')
#final  =pd.concat([test_data['Customer ID'],pred2],axis=1)
final = pred2
final.columns = ['Price']
final.to_csv('sample_submission10.csv',index =False)